body{
    background-color: rgb(45, 45, 45);
}

.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 100px;
    gap: 10px;
}

.box{
    width: 500px;
    height: fit-content;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    border-radius: 20px;
}

.info input{
    text-align: center;
}